{% extends 'base.html' %}
{% block title %}Logowanie{% endblock %}
{% block content %}

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method="post">
          {% csrf_token %}
          {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

            {% endfor %}


        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>

{% endblock %}
