{% extends 'base.html' %}
{% block title %}Uaktualnij dane{% endblock %}
{% block content %}

    <section class="login-page">
        <h2>Wpisz aktualne dane</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}

                <div class="form-group">
                    {{ field }}
                </div>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <div class="form-group form-group--buttons">
                <button class="btn" type="submit" name="form">Zapisz</button>
            </div>
        </form>

        <form method="post">
            {% csrf_token %}
            {{ change_password_form.as_p }}
            <div class="form-group form-group--buttons">
                <button class="btn" type="submit" name="form2">Zapisz</button>
            </div>
        </form>
    </section>

{% endblock %}